html, body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Helvetica;
  src: url(assets/HelveticaNeue-Roman.otf);
}

@font-face {
  font-family: Helvetica;
  src: url(assets/HelveticaNeueBold.ttf);
  font-weight: bold;
}

.bodytext {
  font-family: Helvetica;
  font-weight: bold;
  color:black;
  text-transform: uppercase;
  text-align: center;
}

img {
  width: 100%;
  height:auto;
  shape-outside: url('../assets/text-frame1.svg')
}


#textFrame {
  /* background: url(../assets/text-frame1.png); */
  position: absolute;
  z-index: 1;
  width: 650px;
  height: 900px;

  /* position: absolute;
  z-index:1; */
  /* float: left;
  shape-outside: url('../assets/text-frame1.svg') */
}

#maintext {
  position: absolute;
  z-index:99;
  top: 0;
  left:0;
  width: 650px;
  height: 800px;
  overflow:hidden;
  background: white;
  color:black;
  font-family: Helvetica;
  font-weight: bold;
  text-transform: uppercase;
  mix-blend-mode:difference;
  font-size: 16px;
}




/* #textFrame {
  background: url(../assets/text-frame1.png);
  background-repeat: no-repeat;
  float: left;
  background-size: contain;
  shape-outside: url(../assets/text-frame1.png);
  shape-image-threshold: 0;
  width: 100vw;
  height: 100vh; 
} */
