html, body {
  margin: 0;
  padding: 0;
  background-image: url(../assets/background.png);
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
}

@font-face {
  font-family: Garamondt;
  src: url(assets/Garamondt-Regular.otf);
}

@font-face {
  font-family: Helvetica;
  src: url(assets/HelveticaNeue-Roman.otf);
}

@font-face {
  font-family: Helvetica;
  src: url(assets/HelveticaNeueBold.ttf);
  font-weight: bold;
}

.bodytext {
  font-family: Helvetica;
  font-weight: bold;
  color:white;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
}

button {
  padding:5px;
  background-color: black;
  color:white;
  text-transform: uppercase;
  font-family: Helvetica;
  font-weight: bold;
  
}

.catButton {
  background-color: rgba(0, 0, 0, 0);
  background-image: url('../assets/blue-bag.svg');
  background-size: cover; /* Scale the image to cover the entire button */
  border: none; 
  height: 150px;
  width: 100px;
  /* white-space: normal; */
  vertical-align: middle;
  word-wrap: break-word;
  cursor: pointer;
  transition: 0.5s ease;
}

.catButtonPressed {
  /* background-image: url('../assets/red-bag.svg'); */
}


.notDisplay {
  display:none;
}

.displayItem {
  display: block;
}

#prompt {
  font-family: Helvetica;
  font-weight: bold;
  color:white;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  background: red;
  margin-bottom: 50px;
}

#find {
  display:none;
}

#print {
  position: relative;
  z-index:99;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-top: 50px;
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

#back {
  position: relative;
  margin: 0;
  top: 70%;
  left: 50%;
  margin-top: 70px;
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

.selected {
  background-image : url('../assets/red-bag.svg');
}